@font-face{
	font-family: 'IBM_BIOS';
	src: url('IBM_BIOS.woff') format('woff'),
	     url('IBM_BIOS.ttf') format('truetype');
}

body{
	padding: 0;
	margin: 0;
	font-family: IBM_BIOS;
	width: 100%;
}

.topbox{
	background-color: #55ffff;
	text-align: center;
	width: 100%;
	height: 5%;
	font-family: inherit;
	line-height: 125%;
	font-size: 200%;
	min-height: 38px;
}

.selectbar{
	background-color: blue;
	width: 100%;
	height: 5%;
	min-height: 38px;
}

.selectbar a{
	float: left;
	background-color: blue;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	color: grey;
	height: 100%;
	font-size: 200%;
	padding-left: 10;
	padding-right: 10;
}

.frame{
	display: table-row;
	overflow: hidden;
	position: sticky;
	top: 10%;
	bottom: 0;
	width: 100%;
	height: 90vh;
}

iframe{
	height: 100%;
	width: 100%;
}

.lottext{
	font-size: 150%;
	color: black;
	position: relative;
}

.lottext p{
	margin-left: 5;
}

.lottext b{
	color: blue;
	margin-left: 5;
}

.rightbox {
	font: inherit;
	font-size: 130%;
	color: black;
	border-style: solid;
	border-width: 3px;
	border-left: 0px;
	width: 30%;
	position: relative;
	margin-top: 8;
	margin-bottom: 8;
	margin-right: 8;
}

.frameback{
	background-color: #aaaaaa;
	display: flex;
}

.contain{
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	display: flex;
}

img{
	width: 100%;
	height: auto;
	border-bottom: 3px solid black;
}

.textframe{
	border-style: solid;
	border-width: 3px;
	margin-top: 8;
	margin-bottom: 8;
	margin-left: 8;
	position: relative;
	width: 70%;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: #0000FF;
}

::-webkit-scrollbar-track{
	background: #AAAAAA;
}
